* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid pink;
}

header {
    background-color: blueviolet;
    padding-inline: 10%;
}

.flex {
    display: flex;
}

.nav-bar {
    padding-block: 20px;
    background-color: violet;
    justify-content: space-between;
    align-items: center;
}

.nav-bar figure {
    background-color: aquamarine;
    height: 40px;
    width: 100px;
}

ul {
    gap: 30px;
}

ul li{
    width: 60px;
    list-style-type: none;
    background-color: aquamarine;
    height: 20px;
}

.nav-bar button {
    width: 70px;
    height: 30px;
    background-color: aquamarine;
}

.nav-content {
    width: 70%;
    background-color: violet;
    margin-inline: auto;
    margin-block: 50px;
    flex-direction: column;
    gap: 20px;
}

h1 {
    height: 40px;
    background-color: aquamarine;
}

.nav-content p {
    height: 80px;
    background-color: rgb(81, 233, 253);
}

.nav-content .buttons {
    justify-content: center;
    gap: 20px;
}

.nav-content button {
    width: 70px;
    height: 30px;
    background-color: aquamarine;
}