* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid pink;
}

header {
    background-color: blueviolet;
    padding-inline: 10%;
}

.flex {
    display: flex;
}

.nav-bar {
    padding-block: 20px;
    background-color: violet;
    justify-content: space-between;
    align-items: center;
}

.nav-bar figure {
    background-color: aquamarine;
    height: 40px;
    width: 100px;
}

ul {
    gap: 30px;
}

ul li{
    width: 60px;
    list-style-type: none;
    background-color: aquamarine;
    height: 20px;
}

.nav-bar button {
    width: 70px;
    height: 30px;
    background-color: aquamarine;
}

.nav-content {
    width: 70%;
    background-color: violet;
    margin-inline: auto;
    margin-block: 50px;
    flex-direction: column;
    gap: 20px;
}

h1 {
    height: 40px;
    background-color: aquamarine;
}

.nav-content p {
    height: 80px;
    background-color: aqua;
}

.nav-content .buttons {
    justify-content: center;
    gap: 20px;
}

.nav-content button {
    width: 70px;
    height: 30px;
    background-color: aquamarine;
}

main {
    background-color: aqua;
    padding-inline: 10%;
}

section {
    padding-block: 60px;
    gap: 80px;
}

section figure {
    background-color: violet;
    height: 400px;
    width: 60%;
}

.simple-text-layout {
    background-color: blueviolet;
    width: 40%;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.simple-text-layout h2 {
    height: 50%;
    background-color: aquamarine;
}

.simple-text-layout p {
    height: 50%;
    background-color: aqua;
}

.section-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
    gap: 40px;
}

.column figure {
    width: 100%;
}

.column {
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.cta-text {
    height: 150px;
    width: 100%;
    background-color: blueviolet;
    
}

.cta-text h2 {
    height: 40px;
    width: 100%;
    background-color: aquamarine;
}

.cta-text p {
    width: 100%;
    height: 60px;
    background-color: aqua;
}

.column h6 {
    height: 40px;
    width: 40%;
    background-color: aquamarine;
    margin-top: 40px;
}

.column button {
    width: 100px;
    height: 30px;
    background-color: violet;
}

footer {
    background-color: blueviolet;
    padding-inline: 10%;
    padding-block: 40px;
}

.nav-footer {
    gap: 60px;
    background-color: aqua;
}

.contact-footer {
    width: 30%;
    height: 100px;
    background-color: aquamarine;
}

.menu-footer {
    width: 70%;
    height: 300px;
    background-color: aquamarine;
}

hr {
    border: 1px solid violet;
    margin-block: 30px;
}

.end-footer {
    justify-content: space-between;
    background-color: aqua;
}

.end-footer figure {
    background-color: aquamarine;
    height: 40px;
    width: 100px;
}

.end-footer button {
    background-color: aquamarine;
    height: 40px;
    width: 100px;
}
